* {
    margin: 0;
    padding: 0;
}

#main-header img {
    width: 100%;
    height: 100%;
}

.no-gutters, #menubuttons{
    overflow:hidden;
}

.bg-image-me {
	background-image: url(../img/20140525_151620.jpg);
	/* lt ie8 */
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
	/* default - may override with classes or media query */
	background-position: center bottom;
	/* scale bg image proportionately */
	background-size: cover;
	/* ie8 polyfill */
	/*-ms-behavior: url(backgroundsize.min.htc);
	/* prevent scaling past src width (or not) */
	/* max-width: 1200px; */
    position: fixed;
    /* top: -50%; */
    top: 0;
    /* left: -50%; */
    width: 100%;
    height: 100%;
}

.port-item {
    /*width: 25%;*/
}

.port-item .fa {
    font-size: 2rem;
}

.port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

#gallery {
    min-height: 50rem;
    /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.project-card {
    float: left;
    min-width: 33.333%;
    /*max-width: 50%;*/
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.project-card>a img {
    /*margin-bottom: .75rem;*/
    max-width: 100%;
    height: auto;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

@-moz-document url-prefix() {
    img {
        width: 100%;
        max-width: 100%;
        height: 200%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    img {
        max-width: 100%;
    }
}

.project-card a>img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.project-card-text {
    font-size: 85%;
    color: #333;
}

@media(min-width:1199px) {
    .port-item {
        padding: 3em !important;
    }
    .project-card {
        max-width: 50%;
    }
}

@media(max-width:640px) {
    #main-header img:first-child {
        display: none;
    }
    .myname {
        font-size: 130% !important;
    }
    .port-item {
        font-size: 60% !important;
    }
}

@media(max-width:400px) {
    .nav-tabs {
        font-weight: bold;
        font-size: 80% !important;
    }
    
    #home{
        font-size:.25rem;
    }
}

@media(max-height:350px) {
    .project-card {
        height: 50%;
    }
}